@font-face {
    font-family: 'EYInterstate';
    src: url('../fonts/EYInterstate-Light.eot');
    src: url('../fonts/EYInterstate-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EYInterstate-Light.woff') format('woff'),
        url('../fonts/EYInterstate-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'EYInterstate';
    src: url('../fonts/EYInterstate-Bold.eot');
    src: url('../fonts/EYInterstate-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EYInterstate-Bold.woff') format('woff'),
        url('../fonts/EYInterstate-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
