/* GENERAL */
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

input {
  width: 100%;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

body {
  font-family: $interstate;
  font-weight: 300;
  font-size: 1.8rem;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: disc;
  color: $yellow;

  span {
    color: black;
  }
}

a {
  color: black;
  text-decoration: none;
}

footer {
  background-color: $yellow;
  text-align: center;

  p {
    padding: 1.5rem 0;
    font-size: 1.2rem;
  }
}

.container {
  max-width: 1110px;
  margin: auto;
}

.full-width-container {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.pb-80 {
  padding-bottom: 8rem;
}

.row {
  margin: 0;
}

.form-container {
  background-color: $black;
  color: white;
  padding: 3rem 2rem 6rem;

  .content {
    h4 {
      padding-bottom: 1rem;
    }

    p {
      padding-bottom: 3rem;
    }
  }

  .text-input {
    height: 4rem;
    margin: 0.5rem auto;
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}

.button-container {
  margin-top: 2rem;
}

.button {
  background-color: $yellow;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem 0;
  line-height: 2rem;
}

.logo {
  width: 16.6rem;
  height: 8rem;
  position: absolute;
  right: 1.5rem;
  bottom: 4rem;
}

.black-triangle-image-container {
  height: 8.2rem;
  transform: translateY(-1px);
  background-image: url("../images/black-triangle-image.svg");
  background-repeat: no-repeat;
}

.triangle-image-container {
  height: 6.9rem;
  transform: translateY(1px);
  background-image: url("../images/triangle-image.svg");
  background-repeat: no-repeat;
}

.content {
  line-height: 2.8rem;
}

#masthead {

  .full-width-container {
    background: url("../images/masthead-bg.png") no-repeat center;
    background-size: cover;
    min-height: 45rem;
    padding: 0;

    .container {
      position: relative;
      min-height: 45rem;

      .text-container {
        padding-right: 0;
        margin-bottom: 15rem;
        margin-top: 4rem;

        .content {
          padding: 3rem;
          background-color: $yellow;
          font-size: 2.8rem;
        }
      } /* end text-container */
    }


  } /* end full-width-container */
}

#manage-workflow {

  .full-width-container {
    padding-bottom: 11rem;

    .content-container {

      .title {
        padding-bottom: 4rem;
      }
    } /* end content-container */


  } /* end full-width-container */
}

#switch-simplicity {
  text-align: center;

  .full-width-container {
    background-color: $gray;

    .title {
      padding-bottom: 4rem;
    }

    .content {

      .list {
        padding: 3rem 0;
        text-align: left;
        font-weight: bold;
      }
    } /* end content */
  } /* end full-width-container */
}

#benefits {
  text-align: center;

  .full-width-container {
    padding-bottom: 4rem;

    .title {
      padding-bottom: 4rem;
    }

    .image-container {

      figure {
        padding: 4rem;

        img {
          width: 100px;
          height: 100px;
        }

        p {
          padding-top: 3rem;
        }
      }
    } /* end image-container */
  } /* end full-width-container */
}

#try-sap {

  .full-width-container {
    background-color: $black;
    color: white;
    text-align: center;

    .form-container {
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;

      h2 {
        font-size: 3rem;
        padding-bottom: 1.5rem;
        line-height: 3.6rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .form-wrapper {
    margin-top: 4rem;
  }

  #manage-workflow {
    .full-width-container {
      padding-bottom: 8rem;
    }
  }

  #benefits {
    .full-width-container {
      .image-container {
        figure {
          min-height: 23rem;
          padding: 2rem;
        }
      }
    }
  }
}
